body { padding-top: 70px; background-color: #e4e4e4;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.thead-inverse th {
  color: #fff;
  background-color: #373a3c;
}

#loading-bar-spinner {
  top: 80px;
}

table{
  background-color: white;
}

.angucomplete-image-default {
   background-image: url("http://www.novelupdates.com/img/noimagefound.jpg");
}
